DATABASE_URL=<database_uri>
# enter relative path with respect to the /prisma folder
# DATABASE_URL="file:./dev.sqlite"

NEXT_PUBLIC_BASE_URI=<base_uri>
# BASE_URI is http://127.0.0.1:3000 for development

# Don't change values after this. Copy paste as it is to the .env file
BACKEND_URI=${NEXT_PUBLIC_BASE_URI}/api
PORT=3000

GOOGLE_CLIENT_ID=<google client id>
GOOGLE_CLIENT_SECRET=<google client secret>

# Don't change values after this. Copy paste as it is to the .env file
BACKEND_URI=${NEXT_PUBLIC_BASE_URI}/api
PORT=3000

NEXTAUTH_URL=${NEXT_PUBLIC_BASE_URI}
NEXTAUTH_SECRET="secret"